<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Persona</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <h1>Agregar Persona</h1> 

        <form action="/addPerson" method="POST">
           <label for="nss">NSS:</label>
           <input type="text"  class="form-control" id="nss" name="nss"> <br> <br>
           <label for="nombre">Nombre:</label>
           <input type="text"  class="form-control" id="nombre" name="nombre"> <br> <br>
           <label for="edad">Edad:</label>
           <input type="text"  class="form-control" id="edad" name="edad"> <br> <br>
           <label for="tipoSangre">Tipo de sangre:</label>
           <input type="text"  class="form-control" id="tipoSangre" name="tipoSangre"> <br> <br>

           <input type="submit" value="Submit" class="btn btn-dark">
           <a href="./index" class="btn btn-dark">Back</a>
        </form>
    </body>
</html>